# Project: Classify House Prices
- Put houses in price groups and try to predict based on Latitude and Longitude
- That will show if the area is a good indicator of the house unit price

### Step 1: Import libraries

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score,r2_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

### Step 2: Read the data
- Use Pandas [read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) method to read **files/house_prices.csv**

In [27]:
df = pd.read_csv('house_prices.csv')

### Step 3: Prepare data
- Create 15 bins of house prices
    - HINT: use [cut](https://pandas.pydata.org/docs/reference/api/pandas.cut.html) on the **'House unit price'** column with **bins=15** and assign the result to column **Class**.
    - Get the category codes by transforming column **Class** with **.cat.codes** and assign it to **Class id**

In [28]:
df['class'] = pd.cut(df['House unit price'],bins=15)
df.head()

,Transaction,House age,Distance to MRT station,Number of convenience stores,Latitude,Longitude,House unit price,class
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9,"(36.907, 44.233]"
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2,"(36.907, 44.233]"
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3,"(44.233, 51.56]"
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8,"(51.56, 58.887]"
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1,"(36.907, 44.233]"

In [29]:
df['Class id']=df['class'].cat.codes
df.head()

,Transaction,House age,Distance to MRT station,Number of convenience stores,Latitude,Longitude,House unit price,class,Class id
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9,"(36.907, 44.233]",4
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2,"(36.907, 44.233]",4
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3,"(44.233, 51.56]",5
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8,"(51.56, 58.887]",6
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1,"(36.907, 44.233]",4

### Step 4: Prepare training and test data
- Assign **X** be all the data (it is needed in final step)
- Assign **y** to be the **Class id** column.
- Use **train_test_split** with **test_size=0.15**

In [43]:
X = df
y=df['Class id']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.15,random_state=42)

### Step 5: Train a $k$-Neighbours Classifier
- Create a model to **KNeighborsClassifier()**
- Fit the model on **X_train[['Latitude', 'Longitude']]** and **y_train**
- Predict **X_test[['Latitude', 'Longitude']]** and assign it to **y_pred**
- Calculate the accuracy score

In [45]:
model = KNeighborsClassifier()
model.fit(X_train[['Latitude','Longitude']],y_train)
y_pre = model.predict(X_test[['Latitude','Longitude']])
accuracy_score(y_test,y_pre)

0.47619047619047616

### Step 6: Make prediction of categories
- Convert **y_pred** to a DataFrame
    - HINT: **df_pred = pd.DataFrame(y_pred, columns=['Pred cat'])**
- Get the middle value of the prediction category.
    - HINT: **df_pred['Pred'] = df_pred['Pred cat'].apply(lambda x: X_test['Class'].cat.categories[x].mid)**
- Calculate the **r2_score** of the predicted and real price **'House unit price'** of **X_test**

In [59]:
df_pred = pd.DataFrame(y_pre,columns=['pred cat'])

In [60]:
df_pred['pred'] = df_pred['pred cat'].apply(lambda x: X_test['class'].cat.categories[x].mid)

In [62]:
r2_score(X_test['House unit price'],df_pred['pred'])

0.729896695249256